@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared style  */
.display-flex{
    display: flex;
}

/* color */
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

/* Background color */

.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}





.nav-bar{
    justify-content: space-around;
    align-items: center;
}


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-bar, .banner{
    max-width: 100%;
    margin: 0 auto;   
}
.banner-title{
    font-size: 3.rem;
    margin-top: 20px;

}
main > section{
    margin-top: 70px;
}



.banner-content{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  
}
.banner-pic{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    
}



.banner-description{
    padding-left: 15%;
    padding-right: 15%;
    
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
   width: 50%;
  padding-left: 10%;
  
   
   gap: 10px;
  
  
}
.teams{
    align-items: center;
}
.our-fatures{
    padding-left: 10%;
}
.second-span{
    color: #ff900e;
}
.fact{
    border: 1px solid #ff900e;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    border-radius: 10px;
    
   justify-items: center;
   margin-left: 20px;
   margin-right: 20px;
}
.some-fact-title{
    margin-left: 5%;
}
.fact-descrption{
    margin-left: 5%;
    max-width: 450px;
}
.sponsor-description{
    color: #727272;
}
.sponsor-info{
   
    text-align: center;
    justify-content: center;
    gap: 50px;
    
}
.sponser-companies{
    filter: grayscale(100%);
    
    text-align: center;
   
   
  
    
}

#section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.section-feature-description{
    max-width: 100%;
    padding: 10px;
    
}
 .feature-card .card-title {
    font-size: 1rem;
   
  

}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    margin-top: 20px;
}
.new-feature{
    display: flex;
    gap: 100px;
}
.box-1{
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    margin-top: 40px;
    width: 100%;
    margin-left: 20px;
    

}
.architect{
    width: 100%;
}




@media screen and (max-width:576px) {
    .nav-links{
        flex-direction: column;
    }
    .nav-bar{
        flex-direction: column;
        justify-content: center;
    }
    .teams{
        flex-direction: column;
        padding: 0;
    }
    .team-image{
        grid-template-columns: repeat(1 , 1fr);
      gap: 10px;
        width: 100%;
        margin-left: 0;
        
        
        
        
    }
    .our-fatures{
        width: 80%;
        text-align: center;
        padding: 10%;
    }
    .facts-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .sponser-companies{
        display: flex;
        
        gap: 30px;
    }
    .new-feature{
        flex-direction: column;
    }
    #architect{
        width: 50%;
    }
    
        

    
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
       
    }
    .team-image{
     margin-left:-30%;
     padding: 0;
     margin-right: 50px;
    }
    .our-fatures{
        margin: 50px auto;
    }
}